body{
  /* definicion de los estulos en el archivo de css */
    background: white; /* color del fondo */
    font-family: 'Open Sans', sans-serif;
}

p{
  /* Trabajamos en el tamaño de los parrafos  */
  font-size: 20px;
}

li{
  list-style: none; /* lista sin estilo  */
  margin-right: 25px; /*espaciado a la derecha*/

}

#primero{
  /*font-size: 25px;*/
  color:green;
}

.ultimo{
  background:red;
}

.menu{

  display: flex;
  justify-content: space-between;
  align-items: center;

}
ul{
  display: flex;

}
